<div class="row">
  <div class="col-xs-8">
    <h2>新規会員登録</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputName">ニックネーム</label>
  
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"ニックネーム"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
      </div>
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">メールアドレス</label>
        <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
      </div>
      
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">誕生日</label>
        <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, 
            end_year: (Time.now.year - 5), default: Date.new(1985, 1, 1) %>
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
      </div>
      
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">性別</label>
        <%= f.radio_button :gender, 0, class:"form-control", id:"gender"%>男性
        <%= f.radio_button :gender, 1, class:"form-control", id:"gender"%>女性
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
      </div>
      
    
      
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputPassword">パスワード(6文字以上)</label>
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
      </div>
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputConfirmPassword">パスワード(確認用)</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
        <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
      </div>
      <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    <% end %>
  
    <h2>既に登録済みの方</h2>
    <p><%= link_to "こちら", new_user_session_path %>からログインしてください。</p>
    
  </div>
</div>
