<h1>本を探す</h1>
  <%= form_with model: @book,url: search_books_path, method: :get, local: true do |f| %>
    <%= f.select :model, options_for_select({ "タイトル" => "title", "著者" => "author" }) %>
    <%= text_field :keyword, "", placeholder:'書籍タイトル、著者', size: 40 %>
    <%= f.submit "検索" %>
  <% end %>

<h1>読みたい本</h1>
<table class="table">
  <thead>
    <tr>
      <th>登録日</th>
      <th>タイトル</th>
      <th>著者名</th>
    </tr>
  </thead>
  <tbody>
    <%= @want_reads.each do |want_read| %>
      <tr>
        <td><%= want_read.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= want_read.book.title %></td>
        <td><%= want_read.book.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>読んだ本</h1>
<table class="table">
  <thead>
    <tr>
      <th>登録日</th>
      <th>タイトル</th>
      <th>著者名</th>
    </tr>
  </thead>
  <tbody>
    <%= @have_reads.each do |have_read| %>
      <tr>
        <td><%= have_read.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= have_read.book.title %></td>
        <td><%= have_read.book.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>