<% provide(:title, "検索結果") %>
<div class="row">
  
  <div class="col-md-3">
    <%= render 'users/profile', user: current_user %>
  </div>
  
  <div class="col-md-9">
    <h2>検索結果</h2>
    <% if @results.present? %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>著者名</th>
            <th>出版社</th>
            <th>人数</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <td><%= link_to image_tag(result.small_image_url),result.item_url %></td>
            <td><%= link_to result.title,result.item_url %></td>
            <td><%= result.author %></td>
            <td><%= result.publisher_name %></td>
            <td>
              <% if read_people(result.isbn) == 0 %>
                0人
              <% else %>
                <%= link_to read_people(result.isbn), posts_path(isbn: result.isbn) %>人
              <% end %>
            </td>
            <td>
              <!--該当bookの登録がなければ、bookのcreateへbook情報を送る-->
              <% if AdminBook.where(user_id: current_user.id, book_id: book_search(result.isbn)).empty? %>
                <%= form_with model: @book, url: books_path, local: true do |f| %>
                  <%= f.hidden_field :title, :value => result.title %>
                  <%= f.hidden_field :author, :value => result.author %>
                  <%= f.hidden_field :isbn, :value => result.isbn %>
                  <%= f.hidden_field :publication_date, :value => result.sales_date %>
                  <%= f.hidden_field :book_image_id, :value => result.small_image_url %>
                  <%= f.hidden_field :book_image_large_id, :value => result.large_image_url %>
                  <%= f.hidden_field :item_url, :value => result.item_url %>
                  <%= f.submit "読みたい本登録", class: 'btn btn-link' %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    
  </div>
</div>