<div class="row">
  <div class="col-mx-8 col-md-offset-8 center-block about">
    <h2>For What?とは</h2>
    <h4 class="about__text">
      For What?は読書記録を管理し、感想を投稿するSNSです。<br>
      ユーザーは、本を読んだ目的や背景と、その評価を投稿します。<br>
      他のユーザがどんな目的で読み、どういった評価をしているかを知ることで、
      本とのミスマッチを防ぎます。
    </h4>
    <h2>本を読んだ目的と評価を投稿</h2>
      <div class="about__contents">
        <div class="about__parts">
          <p class="about__p">目的や背景と一緒に、読みたい本を登録する</p>
          <%= image_tag "want-read.png", :width => '80%', :class => 'about__image'  %>
          <p class="about__p">読み終えたら評価をして、読んだ本に登録する</p>
          <%= image_tag "have-read.png", :width => '80%', :class => 'about__image'  %>
        </div>
        <div class="about__parts" style="margin-left:10px">
          <p class="about__p">他の人がどんな目的で読み、<br>どんな評価をしているかが分かる！</p>
          <%= image_tag "review.png", :width => '80%', :class => 'about__image'  %>
          <p></p>
          <%= image_tag "post-show.png", :width => '80%', :class => 'about__image'  %>
        </div>
      </div>
    <h2>読書管理機能</h2>
    <div class="about__contents">
      <div class="about__parts">
        <p class="about__p">気になる本を検索して、登録する</p>
        <%= image_tag "search.png", :width => '80%', :class => 'about__image'  %>
        <p></p>
        <%= image_tag "search-result.png", :width => '80%', :class => 'about__image'  %>
      </div>
      <div class="about__parts" style="margin-left:10px">
        <p class="about__p">読みたい本と読んだ本を管理する</p>
        <%= image_tag "list.png", :width => '80%', :class => 'about__image'  %>
      </div>

    </div>

  </div>
</div>