<div class="row">
  <div class="col-md-3">
    <%= render 'users/profile', user: current_user %>
  </div>

  <div class="col-md-9">
    <%= render 'books/show', book: @book %>
    <h2>読んだ本に登録する</h2>
      <%= render "layouts/flash" %>
      <%= form_with model: @post, url: post_path,  method: :patch, local: true do |f| %>
        <div data-turbolinks="false">
          <div id="rating-form">
            <%= f.label :star %>  
          </div>
        </div>
        <h4>コメント入力</h4>
        <%= f.text_area :comment, size: "70x4" %><br>
        <%= f.submit "内容を保存", class: 'btn btn-link', style: 'margin-top:10px' %>
      <% end %>
  </div>
</div>

<script>
  $(function () {
    $('#rating-form').raty({
    starOff: "<%= image_url('star-off.png') %>",
    starOn: "<%= image_url('star-on.png') %>",
    scoreName: 'post[star]'
    });
  });
</script>
