<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= image_tag(@book.book_image_id) %></p>
<p><%= @book.publication_date %></p>

<h1>読んだ本に登録する</h1>
  <%= form_with model: @post, url: post_path,  method: :patch, local: true do |f| %>
    <div id="rating-form">
      <%= f.label :star %>
    </div>
    <%= f.text_field :comment %>
    <%= f.submit "内容を保存" %>
  <% end %>
  