<div class="row">
  <div class="col-md-3">
    <%= render 'users/profile', user: current_user %>
  </div>
  <div class="col-md-9">
    <div class="book__info text-center">Book Information</div>
    <div class="book__content">
      <p class="book__image"><%= image_tag(@book.book_image_large_id) %></p>
      <div class="book__text">
        <p class="book__title"><%= @book.title %></p>
        <p class="book__author"><%= @book.author %></p>
        <p class="book__date">発売日：<%= @book.publication_date %></p>
      </div>
    </div>
  
    <h2>レビュー一覧</h2>
    <div class="table">
      <div class="table__line-title">
        <div class="table__day2"></div>
        <div class="table__author2">ユーザー名</div>
        <div class="table__title2">目的・背景</div>
        <div class="table__star2">評価</div> 
        <div class="table__link2"></div>
      </div>
      <div data-turbolinks="false">
        <% @posts.each_with_index do |post,index| %>
          <% if post.star != nil %>
            <div class="table__line">
              <div class="table__day2"><%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></div>
              <div class="table__author2"><%= link_to post.user.name, user_path(post.user) %></div>
              <div class="table__title2"><%= post.reason %></div>
              <div class="table__star2" id="star-<%= index %>" data-score="<%= post.star %>"></div>
              <div class="table__link2"><%= link_to "投稿詳細", post_path(post), class: 'btn btn-link' %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    for (var i=0; i<"<%= @posts.size %>"; i++) {
    $(`#star-${i}`).raty({
      size: 36,
      starOff: "<%= image_url('star-off.png') %>",
      starOn: "<%= image_url('star-on.png') %>",
      scoreName: "score"
    });
    };
  });
</script>