<div class="row">
  <div class="col-md-3">
    <%= render 'users/profile', user: current_user %>
  </div>
  
  <div class="col-md-7 book">
    <div class="book__info text-center">Book Information</div>
    <div class="book__content">
      <p class="book__image"><%= image_tag(@book.book_image_large_id) %></p>
      <div class="book__text">
        <p class="book__title"><%= @book.title %></p>
        <p class="book__author"><%= @book.author %></p>
        <p class="book__date">発売日：<%= @book.publication_date %></p>
      </div>
    </div>
  
    <div>
      <h2>読みたい本を登録</h2>
      <h4>読もうと思った目的や背景を教えてください</h4>
      <form name="form1">
        <h4>【小説】</h4>
        <span id="span"></span>
          <input type="radio" name="why" value="好きな作家だから", onclick="clickBtn1()" >好きな作家だから
          <input type="radio" name="why" value="新しい作家にチャレンジ" onclick="clickBtn1()" >新しい作家にチャレンジ
        <h4>【ビジネス書・新書・専門書】</h4>
        <h5>・内容に関わる知識</h5>
          <input type="radio" name="why" value="初学者", onclick="clickBtn1()" >初学者
          <input type="radio" name="why" value="基礎的なことは分かる", onclick="clickBtn1()" >基礎的なことは分かる
      </form>
        <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
        <h4>【自由記入】</h4>
          <%= render "layouts/flash" %>
          <%= f.text_field :reason %>
          <%= f.hidden_field :book_id, :value => @book.id %>
          <%= f.submit "読みたい本に登録", class: 'btn btn-link'%>
        <% end %>

  </div>
</div>

<script>
  function clickBtn1(){
  	var why = document.form1.why.value;
	  document.getElementById("span").textContent = why;
  }
</script>