<p><%= @post.book.title %></p>
<p><%= @post.book.author %></p>
<p><%= image_tag(@post.book.book_image_id) %></p>
<p><%= @post.book.publication_date %></p>

<% if @post.star == nil %>
  <h1>読みたい本詳細</h1>
  <h1>目的・背景</h1>
  <p><%= @post.reason %></p>
<% else %>
  <h1>読んだ本詳細</h1>
  <h1>目的・背景</h1>
  <p><%= @post.reason %></p>
  <div id="star" data-score="<%= @post.star %>"></div>
  <p>コメント<%= @post.comment %></p>
<% end %>

<% if @post.user == current_user && @post.star != nil %>
  <%= link_to "読んだ本から削除", post_path(@post), method: :delete %>
<% elsif @post.user == current_user && @post.star == nil %>
  <%= link_to "読んだ本に登録", edit_post_path(@post) %>
  <%= link_to "読みたい本から削除", post_path(@post), method: :delete %>
<% else @post.user != current_user %>
  <%= link_to "読みたい本に登録", new_post_path(@post.book) %>
<% end %>