<header class="navbar" >
  <div class="container">
    <nav class='nav navbar-left' style="padding:10px 0">
      <%= link_to "For What?", root_path, class: "logo" %>
    </nav>
    <nav>
      <ul class="nav navbar-left" style="padding:5px 30px">
        <% if user_signed_in? %>
          <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-nav' %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-nav' %>
        <% else %>
          <%= link_to 'TOP', root_path, class: 'btn btn-nav' %>
          <%= link_to 'About', about_path, class: 'btn btn-nav' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-nav' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-nav' %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>