<!DOCTYPE html>
<html>
  <head>
    <title>ForWhat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/dddcd61cbd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <script src="assets/jquery.raty.js"></script>
    
    <div class="container main">
      <%= yield %>
    </div>
    
    <footer>
      <p class="text-center" style="padding:10px 0">© All rights reserved by For What?</p>
    </footer>
    
  </body>
</html>
