<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/dddcd61cbd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('book.png') %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <script src="assets/jquery.raty.js"></script>
    
    <div class="container main">
      <%= yield %>
    </div>
    
    <footer>
      <p class="text-center" style="padding:10px 0">
        © All rights reserved by For What?
        <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
          <a href="https://webservice.rakuten.co.jp/" target="_blank">
          <img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="311" height="30"/></a>
        <!-- Rakuten Web Services Attribution Snippet TO HERE -->
      </p>
    </footer>
    
  </body>
</html>
