<!DOCTYPE html>
<html>
  <head>
    <title>ForWhat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/dddcd61cbd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="assets/jquery.raty.js"></script>
    <%= link_to 'ログイン', new_user_session_path %>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to 'マイページ', user_path(current_user) %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
